<h1>Task: <%= @task.name %></h1>

<p><%= @task.description %></p>

<p><%= link_to "Show all", index_path %></p>
<p><%= link_to "Edit", edit_path %></p>
<p><%= link_to "Delete", destroy_path, method: :delete%></p>
